body{
	background-color:  #c5c3c3;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

.main-title{
	font-size: 85px;
	font-weight: 900;
	letter-spacing: -4px;
	line-height: 1;
}



.description{
    font-size: 19px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1;
}

.container_1{
	padding: 0 10px;
}

.menu{

}


.rotate {

  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
